signbreaker/Sign_Templates/*
!signbreaker/Sign_Templates/1_Input/.gitignore
signbreaker/SGTS*
dataset_gen/SGTS*
venv
.vscode/settings.json
__pycache__
signbreaker/__pycache__/*
signbreaker/Signs
/*_Dataset
*.zip
*.jpg
*.html
*.txt
*.json
signbreaker/*/*.yaml
Wiki_*
